body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: none;
}


#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(241, 38, 12);
    box-sizing: border-box;
    transition: 0.000000001s;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    cursor: none;

}

body {
    text-align: center;
}

canvas {
    border: 1px solid rgb(230, 230, 230);
}

#title {
    left: 0;
    right: 0;
    margin: 0;

}